# Set firewall status to Active or InActive for the main
# firewall service. If you want to disable the firewall,
# set this to 'InActive' and set the overide firewall
# to Active for the individual applications
firewall:
  firewalld:
    status: 'Active'
    default_zone: 'internal'

# Override host options
# Elasticsearch docs https://www.elastic.co/guide/en/elasticsearch/reference/index.html
elasticsearch:
  lookup:
    firewall:
      firewalld:
        status: 'Active'
    package:
    {% if grains['os_family'] == 'RedHat' %}
      repo_version: '6.x' # Version and baseurl both change: 2.x and 2.x/centos or 6.x and 6.x/yum
      repo_baseurl: 'https://artifacts.elastic.co/packages/6.x/yum'
      repo_gpgkey: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
      java_pkg_name: 'java-1.8.0-openjdk-headless'
    {% elif grains['os_family'] == 'Debian' %}
      repo_version: '6.x' # Version and baseurl both change: 2.x and 2.x/debian or 6.x and 6.x/apt
      repo_baseurl: 'deb https://artifacts.elastic.co/packages/6.x/apt stable main'
      repo_gpgkey: 'https://artifacts.elastic.co/GPG-KEY-elasticsearch'
      java_pkg_name: 'openjdk-8-jdk-headless'
    {% endif %}
    elasticsearch:
      restart_service_after_state_change: 'true'
      unicast_hosts: '["esnode00","esnode01","esnode02"]'  # Make this the same as your list of masters
      http_allowed_sources:                                # Sources to allow HTTP connections from
        - name: 'esnode00'                                 # Arbitrary name (using node name is a good default)
          ip: '192.168.2.20'                               # IP address
          mask: '/32'                                      # Subnet Mask
          port: '9200'                                     # Port for http access
        - name: 'esnode01'
          ip: '192.168.2.21'
          mask: '/32'
          port: '9200'
        - name: 'esnode02'
          ip: '192.168.2.22'
          mask: '/32'
          port: '9200'
      sources:                                             # Sources to allow ES transport connections from
        - name: 'esnode00'                                 # Arbitrary name (using node name is a good default)
          ip: '192.168.2.20'                               # IP address
          mask: '/32'                                      # Subnet Mask
          port: '9300'                                     # Port for es transport access
        - name: 'esnode01'
          ip: '192.168.2.21'
          mask: '/32'
          port: '9300'
        - name: 'esnode02'
          ip: '192.168.2.22'
          mask: '/32'
          port: '9300'

